# Web Scraper
### IMDB Movie Rating
url='https://www.imdb.com/chart/top/'

In [1]:
import requests # for url
from bs4 import BeautifulSoup # for html file

In [5]:
url= requests.get('https://www.imdb.com/chart/top/')
# Lets check the the url is valid or not 
url.raise_for_status() # Here it doent throw an error it means the url link is valid

In [6]:
# Now we have to get html written code here by using parser
soup= BeautifulSoup(url.text,'html.parser')

In [8]:
# Now we have find the tag in html file for 250 movies 
movies= soup.find('tbody', class_= 'lister-list') 
# find will try to match the first tag who has 'tbody' and class with 'lister-list'
#Here class is different meaning in python, so we will use class with underscore  "class_"

# from tbody we have find all 'tr' tags which is movie list of 250 movies
movies=movies.find_all('tr')

In [52]:
# I will for loop for extracting 250 movies name
movie_details=[]
for movie in movies:
    name= movie.find('td', class_="titleColumn").a.text 
# We are fetching the name of movies by first entring into the 'td' tag then 'a'tag then fetching the text of 'a' tag
    name1= movie.find('td', class_="titleColumn").text # Here we are getting spaces and not formated 
    name2= movie.find('td', class_="titleColumn").get_text(strip= True) # Here we remove the all the spaces 
    
    #rank
    rank= movie.find('td', class_="titleColumn").get_text(strip= True).split('.')[0] 
    # Here i am split so, it will split into two string and indexing 1st element 
    
    #year
    year= movie.find('td', class_="titleColumn").span.text 
    # first entering into thr 'td' tag then 'span'tag from there fetching text
    year1= year.strip('()') # Here i am stripping '()'
    
    # Rating, 
    rating=movie.find('td', class_= 'ratingColumn imdbRating').strong.text
#     
#     print(name)
#     print(name1)
#     print(name2)
#     print(rank)
#     print(year)
#     print(year1)
#     print(rating)
    
    print(rank,name,year1,rating)
    movie_details.append([rank,name,year1,rating])
    #break   # i want to extract only 1 movie name, if we remove break it will print all 250 movies name

1 The Shawshank Redemption 1994 9.2
2 The Godfather 1972 9.1
3 The Godfather: Part II 1974 9.0
4 The Dark Knight 2008 9.0
5 12 Angry Men 1957 8.9
6 Schindler's List 1993 8.9
7 The Lord of the Rings: The Return of the King 2003 8.9
8 Pulp Fiction 1994 8.8
9 Spider-Man: No Way Home 2021 8.8
10 Il buono, il brutto, il cattivo 1966 8.8
11 The Lord of the Rings: The Fellowship of the Ring 2001 8.8
12 Fight Club 1999 8.7
13 Forrest Gump 1994 8.7
14 Inception 2010 8.7
15 The Lord of the Rings: The Two Towers 2002 8.7
16 Star Wars: Episode V - The Empire Strikes Back 1980 8.7
17 CM101MMXI Fundamentals 2013 8.7
18 The Matrix 1999 8.6
19 Goodfellas 1990 8.6
20 One Flew Over the Cuckoo's Nest 1975 8.6
21 Shichinin no samurai 1954 8.6
22 Se7en 1995 8.6
23 The Silence of the Lambs 1991 8.6
24 Cidade de Deus 2002 8.6
25 La vita è bella 1997 8.6
26 It's a Wonderful Life 1946 8.6
27 Saving Private Ryan 1998 8.6
28 Star Wars 1977 8.6
29 Interstellar 2014 8.5
30 Sen to Chihiro no kamikakushi 2001 8.5
31 The Green Mile 1999 8.5
32 Gisaengchung 2019 8.5
33 Léon 1994 8.5
34 Seppuku 1962 8.5
35 The Pianist 2002 8.5
36 Terminator 2: Judgment Day 1991 8.5
37 Back to the Future 1985 8.5
38 The Usual Suspects 1995 8.5
39 Psycho 1960 8.5
40 The Lion King 1994 8.5
41 Modern Times 1936 8.5
42 American History X 1998 8.5
43 Hotaru no haka 1988 8.5
44 Whiplash 2014 8.5
45 Gladiator 2000 8.5
46 City Lights 1931 8.5
47 The Departed 2006 8.5
48 The Intouchables 2011 8.5
49 The Prestige 2006 8.5
50 Casablanca 1942 8.4
51 Once Upon a Time in the West 1968 8.4
52 Rear Window 1954 8.4
53 Nuovo Cinema Paradiso 1988 8.4
54 Alien 1979 8.4
55 Apocalypse Now 1979 8.4
56 Memento 2000 8.4
57 Raiders of the Lost Ark 1981 8.4
58 The Great Dictator 1940 8.4
59 Django Unchained 2012 8.4
60 The Lives of Others 2006 8.4
61 Paths of Glory 1957 8.4
62 Sunset Blvd. 1950 8.4
63 WALL·E 2008 8.4
64 Avengers: Infinity War 2018 8.4
65 Witness for the Prosecution 1957 8.4
66 The Shining 1980 8.4
67 Spider-Man: Into the Spider-Verse 2018 8.4
68 Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb 1964 8.4
69 Mononoke-hime 1997 8.3
70 Oldeuboi 2003 8.3
71 Joker 2019 8.3
72 Kimi no na wa. 2016 8.3
73 Coco 2017 8.3
74 The Dark Knight Rises 2012 8.3
75 Aliens 1986 8.3
76 Once Upon a Time in America 1984 8.3
77 Avengers: Endgame 2019 8.3
78 Capharnaüm 2018 8.3
79 Das Boot 1981 8.3
80 Tengoku to jigoku 1963 8.3
81 3 Idiots 2009 8.3
82 Toy Story 1995 8.3
83 American Beauty 1999 8.3
84 Amadeus 1984 8.3
85 Braveheart 1995 8.3
86 Inglourious Basterds 2009 8.3
87 Hamilton 2020 8.3
88 Good Will Hunting 1997 8.3
89 Star Wars: Episode VI - Return of the Jedi 1983 8.3
90 2001: A Space Odyssey 1968 8.3
91 Reservoir Dogs 1992 8.3
92 Idi i smotri 1985 8.3
93 Taare Zameen Par 2007 8.3
94 M - Eine Stadt sucht einen Mörder 1931 8.3
95 Vertigo 1958 8.3
96 Citizen Kane 1941 8.3
97 Jagten 2012 8.3
98 Requiem for a Dream 2000 8.3
99 Singin' in the Rain 1952 8.3
100 North by Northwest 1959 8.3
101 Eternal Sunshine of the Spotless Mind 2004 8.3
102 Ikiru 1952 8.3
103 Ladri di biciclette 1948 8.3
104 Lawrence of Arabia 1962 8.3
105 The Kid 1921 8.2
106 Full Metal Jacket 1987 8.2
107 Dangal 2016 8.2
108 Incendies 2010 8.2
109 The Apartment 1960 8.2
110 The Father 2020 8.2
111 Metropolis 1927 8.2
112 Double Indemnity 1944 8.2
113 A Clockwork Orange 1971 8.2
114 Taxi Driver 1976 8.2
115 Jodaeiye Nader az Simin 2011 8.2
116 The Sting 1973 8.2
117 Scarface 1983 8.2
118 Snatch 2000 8.2
119 Pather Panchali 1955 8.2
120 1917 2019 8.2
121 Le fabuleux destin d'Amélie Poulain 2001 8.2
122 To Kill a Mockingbird 1962 8.2
123 Toy Story 3 2010 8.2
124 Per qualche dollaro in più 1965 8.2
125 Up 2009 8.2
126 Indiana Jones and the Last Crusade 1989 8.2
127 Heat 1995 8.2
128 L.A. Confidential 1997 8.2
129 Yôjinbô 1961 8.2
130 Ran 1985 8.2
131 Die Hard 1988 8.2
132 Rashômon 1950 8.2
133 Green Book 2018 8.2
134 Der Untergang 2004 8.2
135 Jai Bhim 2021 8.2
136 Monty Python and the Holy Grail 1975 8.2
137 All About Eve 1950 8.2
138 Some Like It Hot 1959 8.2
139 Batman Begins 2005 8.2
140 Unforgiven 1992 8.2
141 Bacheha-Ye aseman 1997 8.2
142 Hauru no ugoku shiro 2004 8.2
143 The Wolf of Wall Street 2013 8.2
144 Judgment at Nuremberg 1961 8.2
145 The Great Escape 1963 8.2
146 There Will Be Blood 2007 8.2
147 Casino 1995 8.2
148 The Treasure of the Sierra Madre 1948 8.2
149 Pan's Labyrinth 2006 8.1
150 A Beautiful Mind 2001 8.1
151 El secreto de sus ojos 2009 8.1
152 Raging Bull 1980 8.1
153 Dersu Uzala 1975 8.1
154 Chinatown 1974 8.1
155 Tonari no Totoro 1988 8.1
156 Lock, Stock and Two Smoking Barrels 1998 8.1
157 Shutter Island 2010 8.1
158 No Country for Old Men 2007 8.1
159 The Gold Rush 1925 8.1
160 Dial M for Murder 1954 8.1
161 The Thing 1982 8.1
162 Klaus 2019 8.1
163 Det sjunde inseglet 1957 8.1
164 Three Billboards Outside Ebbing, Missouri 2017 8.1
165 The Elephant Man 1980 8.1
166 The Sixth Sense 1999 8.1
167 Smultronstället 1957 8.1
168 The Truman Show 1998 8.1
169 Jurassic Park 1993 8.1
170 The Third Man 1949 8.1
171 Salinui chueok 2003 8.1
172 V for Vendetta 2005 8.1
173 Blade Runner 1982 8.1
174 Trainspotting 1996 8.1
175 Inside Out 2015 8.1
176 The Bridge on the River Kwai 1957 8.1
177 Fargo 1996 8.1
178 Finding Nemo 2003 8.1
179 Warrior 2011 8.1
180 Dune: Part One 2021 8.1
181 Kill Bill: Vol. 1 2003 8.1
182 Gone with the Wind 1939 8.1
183 Tôkyô monogatari 1953 8.1
184 On the Waterfront 1954 8.1
185 Babam ve Oglum 2005 8.1
186 Relatos salvajes 2014 8.1
187 Stalker 1979 8.1
188 The Deer Hunter 1978 8.1
189 Prisoners 2013 8.1
190 The Grand Budapest Hotel 2014 8.1
191 The General 1926 8.1
192 Sherlock Jr. 1924 8.1
193 Gran Torino 2008 8.1
194 Z 1969 8.1
195 Persona 1966 8.1
196 Before Sunrise 1995 8.1
197 Mary and Max. 2009 8.1
198 Catch Me If You Can 2002 8.1
199 Mr. Smith Goes to Washington 1939 8.1
200 In the Name of the Father 1993 8.1
201 Barry Lyndon 1975 8.1
202 Room 2015 8.1
203 Gone Girl 2014 8.1
204 Hacksaw Ridge 2016 8.1
205 La passion de Jeanne d'Arc 1928 8.1
206 Andhadhun 2018 8.1
207 Ford v Ferrari 2019 8.1
208 12 Years a Slave 2013 8.1
209 To Be or Not to Be 1942 8.1
210 The Big Lebowski 1998 8.1
211 Dead Poets Society 1989 8.1
212 How to Train Your Dragon 2010 8.1
213 Höstsonaten 1978 8.1
214 Mad Max: Fury Road 2015 8.1
215 Ben-Hur 1959 8.1
216 Harry Potter and the Deathly Hallows: Part 2 2011 8.1
217 Million Dollar Baby 2004 8.1
218 Ah-ga-ssi 2016 8.1
219 Le salaire de la peur 1953 8.1
220 Stand by Me 1986 8.1
221 Network 1976 8.1
222 Gangs of Wasseypur 2012 8.1
223 Logan 2017 8.1
224 Cool Hand Luke 1967 8.0
225 Hachi: A Dog's Tale 2009 8.0
226 La haine 1995 8.0
227 Koe no katachi 2016 8.0
228 Les quatre cents coups 1959 8.0
229 Platoon 1986 8.0
230 Spotlight 2015 8.0
231 Monsters, Inc. 2001 8.0
232 Rebecca 1940 8.0
233 Life of Brian 1979 8.0
234 Eskiya 1996 8.0
235 Hotel Rwanda 2004 8.0
236 Fa Yeung Nin Wah 2000 8.0
237 Rush 2013 8.0
238 Into the Wild 2007 8.0
239 Amores perros 2000 8.0
240 Rocky 1976 8.0
241 Kaze no tani no Naushika 1984 8.0
242 It Happened One Night 1934 8.0
243 Andrei Rublev 1966 8.0
244 Before Sunset 2004 8.0
245 Shin seiki Evangelion Gekijô-ban: Air/Magokoro wo, kimi ni 1997 8.0
246 Fanny och Alexander 1982 8.0
247 La battaglia di Algeri 1966 8.0
248 Le notti di Cabiria 1957 8.0
249 The Princess Bride 1987 8.0
250 Paris, Texas 1984 8.0

In [53]:
movie_details[1]

['2', 'The Godfather', '1972', '9.1']

## Let's make DataFrame

In [65]:
import pandas as pd
df= pd.DataFrame(movie_details, columns=['Rating','Movie_name','Year_realse','IMDB_rating'])

In [66]:
df.head()

  Rating                Movie_name Year_realse IMDB_rating
0      1  The Shawshank Redemption        1994         9.2
1      2             The Godfather        1972         9.1
2      3    The Godfather: Part II        1974         9.0
3      4           The Dark Knight        2008         9.0
4      5              12 Angry Men        1957         8.9

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rating       250 non-null    object
 1   Movie_name   250 non-null    object
 2   Year_realse  250 non-null    object
 3   IMDB_rating  250 non-null    object
dtypes: object(4)
memory usage: 7.9+ KB

In [68]:
df['Rating']=df['Rating'].astype('int')
df['IMDB_rating']=df['IMDB_rating'].astype('float')

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rating       250 non-null    int32
 1   Movie_name   250 non-null    object
 2   Year_realse  250 non-null    object
 3   IMDB_rating  250 non-null    float64
dtypes: float64(1), int32(1), object(2)
memory usage: 7.0+ KB

### Moving data to excel

In [70]:
df.to_excel(r'Top Movies.xlsx',index=False)